<h1>index bookmarks</h1>

<ol>

<% @bookmarks.each do |bookmark|%>
  <li><%= bookmark.list.name %> - <%= bookmark.movie.title %> - <%= bookmark.comment %> </li>
  <%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</ol>
